* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#game-board {
    background: #ccc;
    height: 100vmin;
    width: 100vmin;

    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.snake {

    background-color: rgb(51, 255, 0);
    border: 0.25vmin solid black;
    
}

.food {
    background: red ;
    border: 0.25vmin solid black;
}

